body {
    background: #04c5e7;
}

#alura {
   width:850px;
}

.principal{
    background:#04c5e7;
    padding: 30px;
}

.titulo-principal {
    text-align: center;
    padding-left: 20px; 
}

.titulo-centralizado {
    text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
   color:#FF0000; 
}

.itens {
    font-style: italic
}

.beneficios {
    background: #04c5e7;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 4%;
}

.imagembenefícios {
    width: 750px;
}
